.hm-banner{
  width: fit-content;
  height: fit-content;
}

.hm-banner img{
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  /* border: solid red 1px; */
}

.banner_container{
  position: relative;
   padding-left: 100px;
  width: 100vw;
  display: flex;
}

.banner_header_text{
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.banner_header_text h5{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.banner_header_text h2{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 64px;
}

.banner_header_text_container{
  display: flex;
  flex-direction: column;
  gap: 200px;
  position: absolute;
  bottom: 5%;
  left: 0;
}

.banner_header_text_container button{
 display: grid;
 text-align: center;
 padding: 16px 32px 16px 32px;
 font-family: "Roboto", sans-serif;
 font-weight: 500;
 font-size: 18px;
 color: white;
 background-color: rgb(250, 47, 47);
 border-radius: 32px;
 margin-right: 100px;
}

.banner_container{

}